<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <title>Login Page</title>
</head>

<body>
    <div id="content">
        <div class="grid grid-cols-12 mt-3">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <!-- 12 mai se 6 grid ki space le rhi hai -->
                <div
                    class="block p-6 bg-white border-t-8 border-gray-200 rounded-xl shadow hover:bg-gray-100 hover:border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-800">

                    <div th:replace="~{message :: message-box}"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Login Here</h5>
                    <p class="font-normal text-gray-400 dark:text-gray-400">Start managing your contacts...</p>

                    <form method="post" th:action="@{'/authenticate'}" class="mt-4">

                        <!-- Username Field -->
                        <div class="mb-4">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Email</label>
                            <input name="email" type="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-300 focus:border-gray-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-300 dark:focus:border-gray-300"
                                placeholder="eg. john.doe@gmail.com" required />

                            <!-- <p 
                            th:if="${#fields.hasErrors('email')}"
                            data-th-errors="*{email}"
                            class="text-red-700 py-1 px-1"></p> -->
                        </div>

                        <!-- Password Field -->
                        <div class="mb-4">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Enter Password</label>
                            <input name="password" type="password" id="password"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-300 focus:border-gray-200 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-300 dark:focus:border-gray-300"
                                placeholder="*******" required />

                            <!-- <p 
                            th:if="${#fields.hasErrors('password')}"
                            data-th-errors="*{password}"
                            class="text-red-700 py-1 px-1"></p> -->
                        </div>

                        <!-- Button -->
                        <div class="mb-3 flex justify-center space-x-3">
                            <button type="submit"
                                class="text-white bg-gray-900 hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-500 shadow border border-gray-700 dark:border dark:border-gray-600">Login</button>

                            <button type="reset"
                                class="text-white bg-red-800 hover:bg-red-700 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-red-800 dark:hover:bg-red-700 dark:focus:ring-red-900 shadow border border-red-800 dark:border dark:border-red-700">Reset</button>
                        </div>

                    </form>

                    <div class="social-buttons-container flex justify-center items-center flex-col space-y-3 mt-3 mb-2">
                        <a data-th-href="@{/oauth2/authorization/google}" class="w-1/2 text-center border bg-slate-50 hover:bg-white dark:bg-slate-100 dark:hover:bg-white focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center shadow-md dark:shadow-sm">
                            <img data-th-src="@{'/images/google.png'}" class="h-5 mr-2" alt="Google Logo">
                            <span class="text-center self-center font-semibold whitespace-nowrap dark:text-black">Sign in With Google</span>
                        </a>

                        <a data-th-href="@{/oauth2/authorization/github}" class="w-1/2 text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex justify-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 shadow-md dark:shadow-md">
                            <img data-th-src="@{'/images/github.png'}" class="h-5 mr-2 bg-white invert filter" alt="Github Logo">
                            <span class="self-center font-semibold whitespace-nowrap dark:text-white">Sign in With Github</span>
                        </a>
                    </div>

                    <div class="text-red-600 text-center" th:if="${param.error}">
                        Invalid username and password.</div>
                    <div class="text-green-600 text-center" th:if="${param.logout}">
                        You have been logged out.</div>

                </div>
            </div>
        </div>
    </div>
    <script>
        console.log("This is Login page");
    </script>
</body>

</html>